/* ===== Font-family Caprasimo ===== */
@font-face {
    font-family: 'Caprasimo';
    src: url('../plugins/fonts/caprasimo/Caprasimo-Regular.eot');
    src: url('../plugins/fonts/caprasimo/Caprasimo-Regular.eot?#iefix') format('embedded-opentype'),
        url('../plugins/fonts/caprasimo/Caprasimo-Regular.woff2') format('woff2'),
        url('../plugins/fonts/caprasimo/Caprasimo-Regular.woff') format('woff'),
        url('../plugins/fonts/caprasimo/Caprasimo-Regular.ttf') format('truetype'),
        url('../plugins/fonts/caprasimo/Caprasimo-Regular.svg#Caprasimo-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

/* ===== Font-family Outfit ===== */
@font-face {
    font-family: 'Outfit';
    src: url('../plugins/fonts/outfit/Outfit-Bold.eot');
    src: url('../plugins/fonts/outfit/Outfit-Bold.eot?#iefix') format('embedded-opentype'),
        url('../plugins/fonts/outfit/Outfit-Bold.woff2') format('woff2'),
        url('../plugins/fonts/outfit/Outfit-Bold.woff') format('woff'),
        url('../plugins/fonts/outfit/Outfit-Bold.ttf') format('truetype'),
        url('../plugins/fonts/outfit/Outfit-Bold.svg#Outfit-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('../plugins/fonts/outfit/Outfit-Medium.eot');
    src: url('../plugins/fonts/outfit/Outfit-Medium.eot?#iefix') format('embedded-opentype'),
        url('../plugins/fonts/outfit/Outfit-Medium.woff2') format('woff2'),
        url('../plugins/fonts/outfit/Outfit-Medium.woff') format('woff'),
        url('../plugins/fonts/outfit/Outfit-Medium.ttf') format('truetype'),
        url('../plugins/fonts/outfit/Outfit-Medium.svg#Outfit-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('../plugins/fonts/outfit/Outfit-Regular.eot');
    src: url('../plugins/fonts/outfit/Outfit-Regular.eot?#iefix') format('embedded-opentype'),
        url('../plugins/fonts/outfit/Outfit-Regular.woff2') format('woff2'),
        url('../plugins/fonts/outfit/Outfit-Regular.woff') format('woff'),
        url('../plugins/fonts/outfit/Outfit-Regular.ttf') format('truetype'),
        url('../plugins/fonts/outfit/Outfit-Regular.svg#Outfit-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

/* ===== Custom styles ===== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 140%;
    font-size: 14px;
    letter-spacing: -2.5%;
    color: #2C2825;
    font-weight: 700;
    font-family: 'Outfit', sans-serif;
}

button {
    background-color: #FFC800;
    border-radius: 4px;
    padding: 8px 12px 6px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    color: #2C2825 !important;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

h1 {
    margin: 44px 0px 80px 40px;
}

/* ===== classes ===== */
.display {
    font-size: 30px;
    line-height: 92%;
    letter-spacing: -3%;
    font-weight: 400;
    font-family: 'Caprasimo', sans-serif;
}

.heading-1 {
    font-size: 50px;
    letter-spacing: -2%;
}

.heading-1, .heading-2 {
    color: #171615;
}

.heading-2 {
    font-size: 40px;
    line-height: 110%;
}

.para-2 {
    font-size: 24px;
    letter-spacing: -1%;
    font-weight: 500;

}

.caption-2 {
    font-size: 18px;
    letter-spacing: 0%;
}

.heading-3,
.caption-1 {
    letter-spacing: 2%;
}

.heading-4 {
    font-size: 15px;
    color: #000000;
}

.para-1 {
    font-size: 16px;
    font-weight: 400;
}

.txt-upper {
    text-transform: uppercase;
}

.caption-1 {
    color: #575757;
}

.container {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

                                        /* ===== header ===== */
.nav-links ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links ul > ul li {
    margin: 31px 40px 31px 0px;
}

.nav-links > ul > li {
    margin: 27px 0px 27px 40px;
}

                                        /* ===== main ===== */

/* ===== hero section ===== */
.hero-section img {
    width: 446px;
    height: 500px;
    margin: 0px 20px 70px 80px;
}

.hero-section > div {
    display: flex;
    margin-left: 40px;
}

.hero-section div div {
    flex-direction: column;
}

/* ===== main-1 section ====== */
