                                        /* ===== main ===== */
/* ===== filter section ===== */
.section-2 {
    display: flex;
}

.section-2 .filter-view {
    width: 295px;
    border-radius: 20px;
    border: 1px solid rgba(0,0,0, 0.1);
    padding: 20px 24px;
    margin: 24px 20px 0 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 1279px;
}

.section-2 .filter-view > div:not(.price, .dress-style, .color) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-2 .filter-view > div:not(:first-of-type) img {
    width: 16px;
    height: 16px;
}

.section-2 .filter-view > div:first-of-type img {
    width: 20.25px;
    height: 18.75px;
}

.section-2 .filter-view > div:nth-of-type(9) img,
.section-2 .filter-view > div:nth-of-type(11) > div:first-of-type img,
.section-2 .filter-view > div:nth-of-type(7) img,
.section-2 .filter-view > div:nth-of-type(8) img {
    width: 11.5px;
    height: 6.5px;
}

.section-2 .filter-view .size-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.section-2 .filter-view .size-wrapper > div {
    display: flex;
    gap: 8px;
}

.section-2 .filter-view .size-wrapper > div > p {
    background-color: #F0F0F0;
    border-radius: 62px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
}

.section-2 .filter-view .dress-style {
    display: inline-block;
}

.section-2 .filter-view .dress-style > div:first-of-type,
.section-2 .filter-view .dress-style > div > div,
.section-2 .filter-view .color > div:first-of-type,
.section-2 .filter-view .price > div:first-of-type {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.section-2 .filter-view .price .counter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.section-2 .filter-view .price input {
    width: 240px;
    accent-color: #000000;
}

.section-2 .filter-view .color .color-card > div > div {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: #000000;
    color: #000000;
    border: 1px solid rgba(0,0,0, 0.3);
}

.section-2 .filter-view .color-card > div {
    display: flex;
    align-items: center;
    gap: 15.5px;
}

.section-2 .filter-view .color-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.section-2 .filter-view .color .color-card > div:first-of-type > div:first-of-type {
    background-color: #00C12B;
}

.section-2 .filter-view .color .color-card > div:first-of-type > div:nth-of-type(2) {
    background-color: #F50606;
}

.section-2 .filter-view .color .color-card > div:first-of-type > div:nth-of-type(3) {
    background-color: #F5DD06;
}

.section-2 .filter-view .color .color-card > div:first-of-type > div:nth-of-type(4) {
    background-color: #F57906;
}

.section-2 .filter-view .color .color-card > div:first-of-type > div:nth-of-type(5) {
    background-color: #06CAF5;
}

.section-2 .filter-view .color .color-card > div:nth-of-type(2) > div:nth-of-type(1) {
    background-color: #063AF5;
}

.section-2 .filter-view .color .color-card > div:nth-of-type(2) > div:nth-of-type(2) {
    background-color: #7D06F5;
}

.section-2 .filter-view .color .color-card > div:nth-of-type(2) > div:nth-of-type(3) {
    background-color: #F506A4;
}

.section-2 .filter-view .color .color-card > div:nth-of-type(2) > div:nth-of-type(4) {
    background-color: #ffffff;
}

.section-2 .filter-view .color .color-card > div:nth-of-type(2) div img {
    width: 13px;
    height: 9.5px;
}

.section-2 .filter-view .color .color-card > div:nth-of-type(2) div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-2 .filter-view hr {
    margin: 24px 0 24px;
}

.section-2 .filter-view > div:nth-of-type(3),
.section-2 .filter-view > div:nth-of-type(5),
.section-2 .filter-view .dress-style .style-options > div:first-of-type,
.section-2 .filter-view .dress-style .style-options > div:nth-of-type(3) {
    margin: 20px 0 20px;
}

.section-2 .filter-view .price > input {
    margin: 20px 0 4px;
}

.section-2 .filter-view .color .color-card > div:nth-of-type(1),
.section-2 .filter-view .size-wrapper .size-filter {
    margin-top: 20px;
}

.section-2 .filter-view .dress-style .style-options > a {
    margin-top: 20px;
    display: block;
}

/* ===== cloth section ===== */
.casual-product .product-filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.casual-product .product-filter div {
    display: flex;
    align-items: center;
    gap: 12px;
}

.casual-product .product-filter div > div {
    gap: 4px;
    display: flex;
    align-items: center;
}

.casual-product .product-filter div > div p {
    font-weight: 500;
}

.casual-product hr {
    margin: 32px 0 20px;
}

.casual-product .product-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.casual-product .product-navigation .number {
    display: flex;
    align-items: center;
    gap: 38px;
}

.casual-product .product-navigation .number > p:first-of-type {
    background-color: rgba(0,0,0, 0.06);
    border-radius: 8px;
    height: 40px;
    width: 40px;
}

.casual-product .product-navigation .number > p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.casual-product .product-navigation > div:first-of-type,
.casual-product .product-navigation > div:last-of-type {
    width: 110px;
    height: 36px;
    border-radius: 8px;
    background-color: #ffffff;
    padding: 8px 14px;
    border: 1px solid rgba(0,0,0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.casual-product .product-navigation > div:first-of-type img,
.casual-product .product-navigation > div:last-of-type img {
    width: 14px;
    height: 14px;
}

/* ===== footer ===== */
.category {
    margin-top: 140px;
}